<div class="homepage">
  <h1>Welcome to the Pokemon Universe</h1>
  <p>Step into a world teeming with Pokemon, captivating creatures that inhabit various environments. </p>
  <p>  Your journey begins as a Pokemon Trainer, and your quest is to catch 'em all!</p>
  <button (click)="navigateToMainPage()">See Pokémon Characters<<<</button><h4>CLICK IT</h4>
  <p>Discover the thrilling adventures and legendary battles that await you.</p>
  <h2>ABOUT</h2>
  <p>Equip yourself with essential gadgets:
  <ul>
    <li>Poke Balls: Your trusty companions for catching and storing Pokemon.</li>
    <li>Pokedex: An electronic encyclopedia that records data about the Pokemon you encounter.</li>
    <li>Incubators: Used to hatch Pokemon Eggs and expand your collection.</li>
    <li>Potion and Revive: Heal and revive your Pokemon during battles and adventures.</li>
    <li>Poke Coins: The in-game currency for acquiring items and enhancing your Pokemon journey.</li>
  </ul>
  <img src="http://www.clipartbest.com/cliparts/Kcj/Lq9/KcjLq9bKi.png">
</div>
<app-footer></app-footer>
