<div class="homepage">
  <img class="i" src="http://www.clipartbest.com/cliparts/Kcj/Lq9/KcjLq9bKi.png">
  <p>Step into a world teeming with Pokemon, captivating creatures that inhabit various environments.
  </p>
  <p> Your journey begins as a Pokemon Trainer, and your quest is to catch 'em all!
  </p>
  <p> enchanting millions of fans with its imaginative world and endearing characters.
  </p>
  <p> Welcome to the captivating and diverse universe of Pokémon,  </p>
  <p> a realm where extraordinary  creatures roam and incredible adventures await.</p>
  <button class="but"  routerLink="/dashboard">See Pokémon Characters</button>
  <p>Discover the thrilling adventures and legendary battles that await you.</p>

  <div class="homepage1">
    <h2 class="about">ABOUT</h2>
    <p>Equip yourself with essential gadgets:
    <ul class="side">
      <p>
        Poke Balls: Your trusty companions for catching and storing Pokemon. <br> <br>
        Pokedex: An electronic encyclopedia that records data about the Pokemon you encounter.<br> <br>
        Incubators: Used to hatch Pokemon Eggs and expand your collection.<br> <br>
        Potion and Revive: Heal and revive your Pokemon during battles and adventures.<br> <br>
        Poke Coins: The in-game currency for acquiring items and enhancing your Pokemon journey.<br>

      </p>
    </ul>
  </div>

