
.pokemon-info {
  background-color: rgb(42, 41, 41);
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 5px;
  color: #f4eff6;
}

.pagenation {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  background-color: rgba(13, 112, 171, 0.98);
  margin-left: 900px;
  border-radius: 20px;
}

.readmore {
  background-color: rgba(15, 126, 192, 0.98);
  color: rgba(245, 242, 242, 0.98);
  border-radius: 40px;
  height: 45px;
  margin-top: 10px;
  font-size: large;
  font-family: Dubai;
  padding-left: 10px;
  padding-right: 10px;
  border: white;
}


.pokemon-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.login {
  /*background-image: url("https://ik.imagekit.io/41wkbgb1j/default-image.jpg?updatedAt=1694851148549");*/
  background-repeat: no-repeat;
  min-height: 70rem;
  background-image: url("https://res.cloudinary.com/dduwkdctl/image/upload/v1673931280/Kanban%20Project/wave_oawig5.svg");
  padding-top: 5px;
}

.flex-content1 {
  font-family: Algerian;
  font-size: large;
  font-weight: 200;

}

.flex-content {
  font-family: Algerian;
  font-size: x-large;
  font-weight: 500;
}

.bar {
  position: relative;
  right: 600px;
  top: -20px;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0px 5px;
  border-radius: 70px;
  font-size: 20px;
  font-family: "Nunito";
  color: #af7c63;
  font-weight: 500;
}

.elements {

}

.boxContainer {
  border: 4px solid #f4eff6;
  width: 380px;
  border-radius: 40px;
  height: 45px;
  width: 340px;
  padding-left: 10px;
  margin-left: 820px;
}

.box {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #747d96;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  min-width: 250px;
  max-width: 300px;

}

.box:hover {
  transform: scale(1.15);
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

}

img {
  max-width: 150%;
  height: auto;
  border-radius: 5px;
  width: 300px;
  height: 300px;
  margin-top: 0px;
  text-decoration-thickness: from-font;
}

.pagi {
  margin-left: 450px;
}
.button1{
  margin-left: 100px;
  background-color: steelblue;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 20px;

}
.nama {
  font-size: x-large;
  font-weight: bold;
  padding-bottom: 4px;
  font-family: Algerian;
  font-size: x-large;
  font-weight: 500;
}

h1 {
  font-size: 24px;
  margin: 10px 0;
  text-transform: capitalize;
}

.pokemon-info {
  display: flex;
  flex-direction: row;
  gap: 50px;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
}

strong {
  font-weight: bold;
}

p {
  margin: 0;
  font-size: 16px;
}

.search-container {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;

}

#se {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 600px;
  margin-top: 20px;
}

@media all and (max-width: 700px) {
  .login {
    width: auto;
    padding: 15px 10px 0 25px;
  }
}

@media all and (max-width: 900px) {
  .boxContainer {
    width: auto;
    padding: 15px 10px 0 25px;
  }
}


