<div class="login">
  <div class="boxContainer">
    <table class="elements">
      <tr>
        <td>
          <input class="bar" id="se" type="text" placeholder="Search PokemonName..." [(ngModel)]="searchQuery"
                 (ngModelChange)="search()">
        </td>
      </tr>
    </table>
  </div>

  <div class="pokemon-grid">
    <div class="box"
         *ngFor="let poke of pokemons | paginate: {itemsPerPage:10, currentPage:page, totalItems:totalPokemons};let i=index">
      <div class="pokemon-card">
        <img class="imge" [src]="poke.sprites.front_shiny" alt="{{poke.name}} Image">
        <h1 class="nama">{{poke.name}}</h1>
        <div class="pokemon-info">
          <div class="flex-content">
            <h3 class="flex-content1">Type</h3>
            <p>{{poke.types[0].type.name}}<
          </div>
          <div class="flex-content">
            <h3 class="flex-content1">Height</h3>
            <p>{{poke.height}}</p>
          </div>

          <div *ngIf="showDetails[i]">
            <div>
              <div>
                <strong class="flex-content">Base-Experience:</strong>
                <p class="flex-content1">{{poke.base_experience}}</p>
                <strong class="flex-content">Order:</strong>
                <p class="flex-content1">{{poke.order}}</p>
              </div>
              <div>
                <strong class="flex-content">Power:</strong>
                <p class="flex-content1">{{poke.stats[1].base_stat}}</p>
              </div>
              <div>
                <strong class="flex-content">Game-Index:</strong>
                <p class="flex-content1">{{poke.game_indices[0].game_index}}</p>
              </div>
              <div>
                <strong class="flex-content">Ability</strong>
                <p class="flex-content1">{{poke.abilities[0].ability.name}}</p>
              </div>
            </div>
          </div>
          <button class="readmore" (click)="retrieveDetails(i)">{{showDetails[i] ? 'ReadLess' : 'ReadMore'}}</button>
        </div>
      </div>
    </div>
  </div>
 <div> <button class="button1" routerLink="/home">Back</button>x</div>
  <div class="pagi">
    <pagination-controls (pageChange)="page= $event; pokemons=[]; getPokemons()" class="pagenation"></pagination-controls>
  </div>
</div>
